body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.editor-field input {
    width : 420px;
    display: block;
    margin-bottom: 10px;
}

.editor-field textarea {
    display: block;
    width : 400px;
    height : 100px;
    margin-bottom: 10px;
}

.submit input {
    margin-top: 10px;
}

.g-recaptcha {
    transform: scale(0.93);
    transform-origin: 0 0;
}