@{
    ViewBag.Title = "About Me";
}

<h2>About Me</h2>
<p>My name is Herman Gouw from Sydney, Australia.</p>
<p>I have many passions in life, one of which is software development.</p>
<p>In the past I have developed distributed software systems in Pascal, FORTRAN and C++ on mainframe computers, mini computers as well as desktop computers.</p>
<p>Since 2001 I have been developing enterprise software systems with Microsoft technology stack (.NET Framework, C#, LINQ, SQL Server, Entity Framework, ASP.NET, ASP.NET MVC, ASP.NET Web API, WCF Service as well as Windows Forms).</p>
<p>I am currently working on Microsoft Azure cloud technology (Azure Portal, Azure Functions, App Service, Azure SQL Database, Azure Storage as well as Application Insights).</p>
<p>This website was developed with and is hosted on Microsoft Azure.</p>